@font-face {
    font-family: 'smash_font';
    src: url('../fonts/df-gothic-eb.ttf');
}

body{
    background-color:#0F2135
}

#headerLogo{    
    max-width: 55%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}

h2, .playerCount{
    color: ghostwhite;
}
.playerCount{
    font-size: larger;
    margin-bottom: 7px;
}

.player1{
    color: #E64F36;
}

.player2{
    color:#3C7CF2;
}

.player3{
    color:#E3AC02

}
.player4{
    color:#1A8E2A

}
.player5{
    color:#E46F20

}
.player6{
    color:#3BA4DC

}
.player7{
    color:#EB4D8C

}
.player8{
    color:#5F45B4

}

.selected{
    color: ghostwhite;
    font-size: larger;
    margin-right: 15px;

}

.startButton{
    margin: 10px;
    height: 75px;
    background-color: #1E3F6A;
    color: ghostwhite;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.startButton:hover{
    position: relative;
    bottom: 1px;
    box-shadow: 5px 5px 5px black;
}

.dashboardMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.playerDiv{
    width: 90%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
}

.playerToonContainerDiv{
    border: 1px solid black;
    background-color: whitesmoke;
    padding: 5px;
    height: 250px;
    width: 140px;
    overflow-y: scroll;
}

.fighterMain{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    background-color:#0F2135
}
.toonDiv{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    text-align: center;
    gap: -5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 8px;
    max-width: 130px;
    min-width: 120px;
    height: 170px;
    padding: 0px 5px;
    box-shadow: 5px 5px 5px black;
    background-color: whitesmoke;
    
}

.toonDiv:hover{
    background-color: antiquewhite;
}

.toonDiv p{
    margin: 0;
}