.player1{
    color: #E64F36;
}

.player2{
    color:#3C7CF2;
}

.player3{
    color:#E3AC02

}
.player4{
    color:#1A8E2A

}
.player5{
    color:#E46F20

}
.player6{
    color:#3BA4DC

}
.player7{
    color:#EB4D8C

}
.player8{
    color:#5F45B4

}




.matchHistoryMainDiv{
    display: flex;
    flex-direction: column;
    max-height: 610px;
    overflow-y: scroll;
    width: 95%;
    margin: 0 auto;
    border: 3px solid black;
}
.singleRoundDiv{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    color: aliceblue;
    border-bottom: 1px solid black;
    margin: 0 auto;
}

.singleRoundFighterDiv{
    width: 130px;
    color: aliceblue;
    font-family: 'futura';
}

.singleRoundAvatar{
    width: auto;
}


.roundWinner{
    width: 130px;
    border: 2px solid gold;
    color: gold;
    font-family: 'futura';
    font-size: large;
}

.roundWinner p{
    color: gold;
}
